#headImage {
    background: url("./image/head.png") 0 0 no-repeat;
    text-align: center;
}

.needWhite {
    color: white
}

.textTitle {
    padding: 20px;
    font-size: 50px;
    color: white
}

.little {
    margin-left: 120px;
    color: white
}

.littleUp {
    margin-left: 60px;
    font-size: 20px;
    color: white
}
